[submodule "1.vault"]
	path = 1.vault
	url = https://github.com/ayushagarwal27/anchor_vault_solana
[submodule "2.escrow"]
	path = 2.escrow
	url = https://github.com/ayushagarwal27/anchor_escrow_sol
[submodule "3.nft-staking-program"]
	path = 3.nft-staking-program
	url = https://github.com/ayushagarwal27/anchor-nft-staking-program
[submodule "4.marketplace"]
	path = 4.marketplace
	url = https://github.com/ayushagarwal27/anchor_marketplace
[submodule "5.amm"]
	path = 5.amm
	url = https://github.com/ayushagarwal27/anchor_amm
[submodule "ai-agent-solana"]
	path = ai-agent-solana
	url = https://github.com/ayushagarwal27/ai-agent-solana
[submodule "7.TerraPulse-DePIN"]
	path = 7.TerraPulse-DePIN
	url = https://github.com/ayushagarwal27/TerraPulse-DePIN
